@media screen and (max-width: 1120px) {
    .formContactsPage {
        .formInner {
            .formContent {
                grid-template-columns: 1fr;
                section {
                    margin-bottom: 50px;
                    h2 {
                        text-align: center;
                        margin-bottom: 50px;
                    }
                    .formInfo {
                        grid-template-columns: repeat(3, auto);
                        justify-content: center;
                        text-align: center;
                        grid-column-gap: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 620px) {
    .formContactsPage {
        .formInner {
            .formContent {
                section {
                    .formInfo {
                        grid-template-columns: repeat(auto-fit, 250px);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 530px) {
    .formContactsPage {
        padding: 50px 0px;
        .formInner {
            .formContent {
                section {
                    h2 {
                        font-size: $title2;
                        margin-bottom: 30px;
                    }
                    .formInfo {
                        grid-template-columns: repeat(auto-fit, 1fr);
                        text-align-last: center;
                        justify-content: center;
                    }
                }
                form {
                    div {
                        grid-template-columns: auto;
                    }
                }
            }
        }
    }
}
