@import "../../../../scss/vars";
.blogContent {
    padding: 100px 0px;
    .blogContentInner {
        display: grid;
        grid-template-columns: 1fr 450px;
        justify-content: space-between;
        grid-column-gap: 55px;
        // Posts
        .blogPosts {
            display: grid;
            grid-row-gap: 50px;
            position: relative;
            .message {
                position: absolute;
                span {
                    font-family: $secondary;
                    &::after {
                        content: " Page:" attr(data-page);
                        color: rgba($color: #61d345, $alpha: 0.8);
                    }
                }
            }
            .loader {
                text-align: center;
            }
            .error {
                text-align: center;
                overflow: hidden;
                opacity: 0;
                transform: translate(0px, 30px);
                animation: errorMessAnim 0.5s ease forwards;
                h1 {
                    text-align: center;
                    color: #df2e38;
                    font-family: $secondary;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                a {
                    color: #93bfcf;
                    font-size: 24px;
                    display: inline-block;
                    transition: all 0.2s ease;
                    &:hover {
                        transform: rotate(35deg) scale(1.1, 1.1);
                        color: $blue;
                    }
                }
            }
            .blogPostsItem {
                opacity: 0;
                transform: translate(0px, 50px);
                animation: animationCard 0.5s ease forwards;
                &:nth-of-type(1) {
                    animation-delay: 0.1s;
                }
                &:nth-of-type(2) {
                    animation-delay: 0.2s;
                }
                &:nth-of-type(3) {
                    animation-delay: 0.3s;
                }
                &:nth-of-type(4) {
                    animation-delay: 0.4s;
                }
                img {
                    width: 100%;
                    height: 0 auto;
                }
                .blogPostsInfo {
                    margin-top: 30px;
                    display: grid;
                    grid-row-gap: 20px;
                    pre {
                        color: $gray;
                        font-size: 14px;
                    }
                    h5 {
                        font-size: $title3;
                        font-weight: 700;
                        font-family: $secondary;
                        color: $black;
                        line-height: 33px;
                    }
                    p {
                        color: $gray;
                        line-height: 28px;
                    }
                    strong {
                        color: $blue;
                        font-family: $secondary;
                        font-weight: 400;
                    }
                    a {
                        color: $blue;
                        font-size: 14px;
                        font-family: $secondary;
                        font-weight: 600;
                    }
                }
            }
        }
        // SideBar
        .blogSideBar {
            width: 450px;
            h4 {
                font-size: $title3;
                color: $black;
                font-family: $secondary;
                font-weight: 700;
            }
            form {
                margin-bottom: 40px;
                position: relative;
                input {
                    width: 100%;
                    border: none;
                    background: transparent;
                    border: 2px solid #c9dcec;
                    padding: 13px 0px 13px 10px;
                    border-radius: 6px;
                    cursor: pointer;
                    font-family: $secondary;
                    transition: all 0.2s ease;
                    &::placeholder {
                        color: $gray;
                        font-size: 14px;
                        font-weight: 700;
                        font-family: $secondary;
                        letter-spacing: 1px;
                        transition: all 0.2s ease;
                    }
                    &:hover {
                        box-shadow: 0px 0px 10px rgba($color: #c9dcec, $alpha: 0.3);
                    }
                    &:focus {
                        &::placeholder {
                            transform: translate(30px, 0px);
                            opacity: 0;
                        }
                    }
                }
                button {
                    width: 100%;
                    margin-top: 10px;
                    border: none;
                    @extend %button;
                    &:hover {
                        background-color: $blue;
                        color: white;
                    }
                }
            }
            .blogSideBarCategoriesMobil {
                display: none;
                .accordion {
                    h3 {
                        border: 2px solid #c9dcec;
                        border-bottom: unset;
                        border-radius: 6px;
                    }
                }
            }
            .blogSideBarPosts {
                display: grid;
                grid-row-gap: 30px;
                margin-bottom: 50px;
                .blogSideBarPostsItem {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-column-gap: 20px;
                    align-items: center;
                    .blogSideBarPostsInfo {
                        display: grid;
                        grid-row-gap: 15px;
                        pre {
                            font-size: 14px;
                            color: $gray;
                            font-family: $primary;
                        }
                        h5 {
                            font-weight: 700;
                            color: $black;
                            font-family: $secondary;
                            line-height: 24px;
                            font-size: 16px;
                        }
                        a {
                            font-size: 14px;
                            color: $blue;
                            font-family: $secondary;
                        }
                    }
                }
            }
            .blogSideBarCategorisDesctop,
            .blogSideBarCategoriesMobil {
                margin-bottom: 50px;
                h4 {
                    margin-bottom: 30px;
                }
                .szhAccordion {
                    display: grid;
                    .accordion {
                        .accordionHeader {
                            border-bottom: 2px solid #c9dcec;
                            width: 100%;
                            font-size: 20px;
                            padding: 5px 0px 5px 10px;
                            transition: all 0.1s ease;
                            button {
                                color: $black;
                                font-family: $secondary;
                                padding: 10px 0px 10px 10px;
                                width: 100%;
                                text-align: left;
                                border: none;
                                background: transparent;
                                transition: all 0.1s ease;
                                position: relative;
                                svg {
                                    position: absolute;
                                    top: 50%;
                                    right: 20px;
                                    transform: translate(0%, -50%) rotate(-90deg);
                                    font-size: 14px;
                                    transition: all 0.1s ease;
                                }
                            }
                            &:hover {
                                background-color: #c9dcec;
                            }
                        }
                        .accordionContent {
                            border-radius: 6px;
                            transition: height 0.2s ease-in-out;
                            .accordionPanel {
                                display: grid;
                                a {
                                    font-size: 16px;
                                    font-family: $secondary;
                                    color: $black;
                                    font-weight: 500;
                                    padding: 20px 0px 20px 20px;
                                    transition: all 0.2s ease;
                                    &:hover {
                                        transform: translate(5px, 0px);
                                        color: $blue;
                                    }
                                }
                            }
                        }
                    }
                    .accordion {
                        .accordionHeaderExpanded {
                            background-color: #c9dcec;
                            border-color: $blue;
                            .accordionBtnExpanded {
                                svg {
                                    transform: translate(0%, -50%) rotate(0deg);
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
            }
            .blogSideBarTags {
                h4 {
                    margin-bottom: 30px;
                }
                .tagsItems {
                    div {
                        margin-right: 10px;
                        margin-bottom: 10px;
                        display: inline-block;
                        color: $blue;
                        font-size: 14px;
                        font-weight: 800;
                        font-family: $secondary;
                        border: 2px solid #9497a133;
                        border-radius: 6px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}
// ! Media
@import "media.scss";
// ! KeyFrames
@keyframes animationCard {
    from {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@keyframes errorMessAnim {
    from {
        opacity: 0;
        transform: translate(0px, 30px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
