@import "../../../../scss/vars";
.cardsSolutionsPage {
    padding: 100px 0px;
    .cardsInner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        .solutionsCard {
            box-shadow: 0px 4px 12px rgba(12, 68, 204, 0.1);
            border-radius: 6px;
            padding: 20px 35px;
            img {
                margin-bottom: 20px;
            }
            h5 {
                margin-bottom: 20px;
                font-size: $title3;
                font-weight: 700;
                font-family: $secondary;
                color: $black;
            }
            p {
                margin-bottom: 20px;
                color: $gray;
                line-height: 28px;
            }
            a {
                color: $blue;
                font-size: 14px;
                font-weight: 600;
                font-family: $secondary;
                &:hover {
                    svg {
                        transform: translate(10px, 0px);
                    }
                }
                svg {
                    font-size: 12px;
                    transform: translate(5px, 0px);
                    transition: all 0.2s ease;
                }
            }
        }
    }
}
// ! Media
@import "media";
