@media screen and (max-width: 950px) {
    .AuthorizationPage {
        .AuthorizationInner {
            .btnHome {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .AuthorizationPage {
        .AuthorizationInner {
            grid-template-columns: 1fr;
            .AuthorizationForms {
                form {
                    .btnGoHome {
                        display: none;
                    }
                }
            }
        }
    }
}
