@media screen and (max-width: 750px) {
    .teamOurTeamPage {
        .teamInner {
            .teamHeader {
                .teamHeaderInfo {
                    grid-template-columns: auto;
                    grid-row-gap: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 530px) {
    .teamOurTeamPage {
        padding: 50px 0px;
    }
}
