@import "../../scss/vars.scss";
.error {
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transform: translate(0px, 30px);
    animation: errorMessAnim 0.5s ease forwards;
    h1 {
        text-align: center;
        color: #df2e38;
        font-family: $secondary;
        margin-bottom: 10px;

        font-weight: 600;
    }
    a {
        color: #93bfcf;
        font-size: 22px;
        display: inline-block;
        transition: all 0.2s ease;
        &:hover {
            transform: rotate(35deg) scale(1.1, 1.1);
            color: $blue;
        }
    }
}
// ! KeyFrames
@keyframes errorMessAnim {
    from {
        opacity: 0;
        transform: translate(0px, 30px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
