@import "../../scss/vars";
.blogPostContent {
    padding: 100px 0px;
    .blogPostsItem {
        img {
            width: 100%;
            height: 0 auto;
        }
        h3 {
            font-size: $title2;
            text-transform: capitalize;
            font-family: $secondary;
            font-weight: 700;
            color: $black;
            margin: 30px 0px 0px 0px;
        }
        h4 {
            color: $blue;
            font-size: 15px;
            font-weight: 500;
            font-family: $secondary;
            margin: 15px 0px;
            font-weight: 600;
        }
        p {
            color: $gray;
            max-width: 600px;
            line-height: 1.6;
            margin-bottom: 10px;
        }
        button {
            border: unset;
            @extend %button;
        }
    }
}
// ! Media
@import "media.scss";
