.Todo-form {
    text-align: center;
    margin-top: 50px;
    position: relative;
    input {
        width: 70%;
        border: none;
        box-shadow: 0px 0px 5px rgba($color: $gray, $alpha: 0.6);
        padding: 15px 0px;
        outline: unset;
        text-align: center;
        border-radius: 3px;
        font-size: 18px;
        &::placeholder {
            color: rgba($color: $black, $alpha: 0.2);
            font-weight: 400;
            font-size: 18px;
            transition: all 0.2s ease;
        }
        &:focus {
            box-shadow: 0px 0px 5px rgba($color: $gray, $alpha: 0.5);
            &::placeholder {
                transform: translate(0px, 20px);
                opacity: 0;
            }
        }
    }
}
// Bclok noTasks
.noTasks {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: rgba($color: white, $alpha: 0.8);
    background-color: rgba($color: $blue, $alpha: 0.8);
    padding: 15px 0px;
    border-radius: 3px;
    max-width: 70%;
    margin: 20px auto;
}
// Todo-List
.Todo-list {
    max-width: 70%;
    margin: 20px auto;
    background-color: rgba($color: $bgGray, $alpha: 1);
    border: 2px solid rgba($color: $blue, $alpha: 0.2);
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    grid-column-gap: 20px;
    padding: 15px 10px;
    position: relative;
    // Custom chekbox
    .toggler-wrapper {
        display: block;
        width: 45px;
        height: 25px;
        cursor: pointer;
        position: relative;
        box-shadow: 0px 0px 6px rgba($color: #353535, $alpha: 0.2);
        border-radius: 30px;
    }
    .toggler-wrapper input[type="checkbox"] {
        display: none;
    }

    .toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
        background-color: #ecf2ff;
    }

    .toggler-wrapper .toggler-slider {
        background-color: $blue;
        position: absolute;
        border-radius: 100px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    .toggler-wrapper .toggler-knob {
        position: absolute;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    .toggler-wrapper.style-1 input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
        left: calc(100% - 19px - 3px);
        background-color: #03c988;
        span {
            opacity: 1;
            visibility: visible;
        }
    }

    .toggler-wrapper.style-1 .toggler-knob {
        width: calc(25px - 6px);
        height: calc(25px - 6px);
        border-radius: 50%;
        left: 3px;
        top: 3px;
        background-color: #fff;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease;
            color: #ecf2ff;
            font-size: 14px;
        }
    }
    input {
        width: 20px;
        border: 2px solid #1c1427;
        outline: unset;
    }
    h1 {
        color: rgba($color: #353535, $alpha: 0.6);
        position: relative;
        transition: all 0.2s ease;
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #5dceec;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-0%, -50%);
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease;
        }
    }
    button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0px, -50%);
        border: none;
        padding: 10px 20px;
        background-color: rgba($color: #df2e38, $alpha: 1);
        color: #ecf2ff;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s ease;
        font-weight: 500;

        &:hover {
            background-color: #ecf2ff;
            color: #df2e38;
            box-shadow: 0px 0px 5px rgba($color: $blue, $alpha: 0.2);
        }
    }
    &.completed {
        background-color: #03c988;
        transition: all 0.2s ease;
        h1 {
            color: rgba($color: #353535, $alpha: 0.3);
            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
// ! Media
@media screen and (max-width: 768px) {
    .Todo-form {
        input {
            width: 90%;
        }
    }
    .Todo-list {
        max-width: 90%;
        display: block;
        h1 {
            margin: 10px 0px;
            line-height: 1.3;
            &::before {
                content: "Task: ";
                color: #5dceec;
            }
        }
        button {
            position: static;
            transform: translate(0px, 0px);
            width: 100%;
        }
    }
    .noTasks {
        max-width: 90%;
    }
}
