@media screen and (max-width: 1024px) {
    header {
        .headerInner {
            grid-template-columns: repeat(2, auto);
            justify-content: space-between;
            .headerLogo {
                img {
                    width: 100px;
                    height: 30px;
                }
            }
            nav {
                display: none;
            }
            .actions {
                display: none;
            }
        }
    }
}
