@import "../../../../scss/vars";
.fitchesHomePage {
    background-color: #f1f6fa;
    padding: 100px 0px;
    .fitchesInner {
        .fitchesHeader {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            h2 {
                font-size: $title1;
                color: $black;
                font-weight: 800;
                font-family: $secondary;
                line-height: 60px;
                margin-bottom: 30px;
                opacity: 0;
                transform: translate(0px, 50px);
            }
            p {
                font-size: $text;
                color: $gray;
                line-height: 33px;
                opacity: 0;
                transform: translate(0px, 50px);
            }
            &.active {
                h2 {
                    animation: animationText 0.5s ease forwards;
                }
                p {
                    animation: animationText 0.5s ease forwards;
                    animation-delay: 0.2s;
                }
            }
        }
        .fitchesCards {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(auto-fit, 350px);
            justify-content: center;
            grid-gap: 30px;
            .atropos {
                opacity: 0;
                transform: translate(0px, 50px);
                &.active {
                    animation: animationCard 0.5s ease forwards;
                    &:nth-of-type(1) {
                        animation-delay: 0.1s;
                    }
                    &:nth-of-type(2) {
                        animation-delay: 0.2s;
                    }
                    &:nth-of-type(3) {
                        animation-delay: 0.3s;
                    }
                }
            }
            .fitchesCard {
                background-color: white;
                border-radius: 6px;
                padding: 46px 35px;
                img {
                    margin-bottom: 50px;
                    border: 2px solid #f1f6fa;
                    border-radius: 6px;
                    padding: 15px 17px;
                }
                h3 {
                    font-size: $title3;
                    font-weight: 700;
                    color: $black;
                    font-family: $secondary;
                    margin-bottom: 15px;
                }
                p {
                    line-height: 28px;
                    color: $gray;
                }
            }
            .swiper {
                width: 100%;
                display: none;
                padding-bottom: 50px;
                .swiper_pagination_bullet {
                    width: 12px;
                    height: 12px;
                    background-color: $blue;
                }
                .fitchesCard {
                    margin: 5px;
                    box-shadow: 0px 0px 0px rgba(12, 68, 204, 0);
                    opacity: 0;
                    transform: translate(0px, 50px);
                    &.active {
                        animation: animationCard 0.5s ease forwards;
                    }
                }
            }
        }
    }
}
// ! Media
@import "media";
// ! Key-Frames
@keyframes animationText {
    from {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@keyframes animationCard {
    from {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
