.card {
    padding: 100px 0px;
    .card-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-column-gap: 40px;
        grid-row-gap: 50px;
        figure {
            text-align: right;
        }
        .card-info {
            max-width: 800px;
            margin: 0 auto;
            .cardInfo-item {
                margin-bottom: 15px;
                &:nth-of-type(1) {
                    p {
                        &:nth-of-type(1) {
                            margin-bottom: 15px;
                        }
                    }
                }
                h5 {
                    color: $blue;
                    font-weight: 700;
                    font-family: $secondary;
                    margin-bottom: 5px;
                }
                p {
                    font-size: $text;
                    text-transform: capitalize;
                    line-height: 33px;
                }
            }
            .cardInfo-social {
                display: grid;
                grid-template-columns: repeat(3, auto);
                justify-content: start;
                grid-column-gap: 20px;
                margin-bottom: 20px;
                a {
                    width: 30px;
                    height: 30px;
                    background-color: $blue;
                    border-radius: 50%;
                    position: relative;
                    svg {
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
// ! Media
@import "cardMedia";
