@media screen and (max-width: 1024px) {
    .card {
        .cardInner {
            grid-template-columns: 300px 1fr;
            gap: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    .card {
        padding: 50px 0 70px;

        .cardInner {
            grid-template-columns: 1fr;
        }
    }

    .cardPhoto {
        position: static;
        max-width: 340px;
        margin: 0 auto;
        width: 100%;

        .cardSocial {
            justify-content: center;
        }
    }

    .cardProfile {
        .cardProfileHeader .cardProfileName {
            font-size: 26px;
        }

        .cardInfoRows .cardInfoRow {
            grid-template-columns: 110px 1fr;
        }
    }
}

@media screen and (max-width: 530px) {
    .card {
        padding: 40px 0 60px;
    }

    .cardProfile {
        .cardInfoRows .cardInfoRow {
            grid-template-columns: 1fr;
            gap: 4px;
        }
    }
}
