@import "../../../../scss/vars";
.questionsFaqPage {
    padding: 100px 0px;
    .questionsContent {
        .szhAccordion {
            display: grid;
            max-width: 1000px;
            margin: 0 auto;
            .accordion {
                border: 2px solid #c9dcec;
                border-radius: 6px;
                margin-bottom: 10px;
                transition: all 0.2s ease;
                &:hover {
                    box-shadow: 0px 0px 10px rgba($color: #c9dcec, $alpha: 0.8);
                }
                .accordionHeader {
                    width: 100%;
                    font-size: $title3;
                    padding: 10px 0px 10px 10px;
                    position: relative;
                    .accordionBtn {
                        color: $black;
                        padding: 10px 0px 10px 10px;
                        font-family: $secondary;
                        font-weight: 700;
                        width: 100%;
                        text-align: left;
                        border: none;
                        background: transparent;
                        transition: all 0.2s ease;
                        svg {
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            transform: translate(0%, -50%) rotate(-90deg);
                            font-size: 14px;
                            transition: all 0.2s ease;
                        }
                    }
                }
                .accordionContent {
                    transition: all 0.2s ease-in-out;
                    .accordionPanel {
                        padding: 0px 20px 10px 20px;
                        p {
                            color: $gray;
                            font-size: 20px;
                            line-height: 33px;
                            opacity: 1;
                            transition: all 0.4s ease;
                        }
                    }
                }
            }
            .accordion {
                .accordionHeaderExpanded {
                    .accordionBtnExpanded {
                        color: $blue;
                        svg {
                            transform: translate(0%, -50%) rotate(0deg);
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}
// ! Media
@import "media";
