@import "scss/vars.scss";
@import "scss/reset.scss";
html {
    * {
        font-family: $primary;
    }
    body {
        &.hidden {
            overflow: hidden;
        }
        .box {
            width: min(100% - 20px, 1240px);
            margin-inline: auto;
        }
        #wrapper {
            display: grid;
            grid-template-rows: auto 1fr auto;
            height: 100vh;
        }
        // Scroll-bar
        &::-webkit-scrollbar {
            background-color: #fff;
            width: 12px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($color: $blue, $alpha: 1);
            border-radius: 10px;
            border: 3px solid #fff;
        }
    }
}
