@import "../../scss/vars";
.slider {
    padding: 100px 0px;
    .sliderInner {
        &.active {
            .sliderHeader {
                animation: animationText 0.5s ease forwards;
            }
            .sliderContent {
                animation: animationCard 0.5s ease forwards 0.3s;
            }
        }
        .sliderHeader {
            margin-bottom: 50px;
            opacity: 0;
            transform: translate(0px, 50px);
            h2 {
                font-size: $title1;
                color: $black;
                font-weight: 800;
                font-family: $secondary;
                line-height: 60px;
                max-width: 450px;
            }
        }
        .sliderContent {
            display: grid;
            opacity: 0;
            transform: translate(0px, 50px);
            .swiper {
                width: 100%;
                padding: 50px 0px 50px 0px;
                .swiper_pagination_bullet {
                    width: 12px;
                    height: 12px;
                    background-color: $blue;
                }
                .sliderSlide {
                    display: grid;
                    justify-content: center;
                    grid-column-gap: 50px;
                    grid-template-columns: repeat(auto-fit, 580px);
                    .sliderSlideItem {
                        box-shadow: 0px 4px 12px rgba(12, 68, 204, 0.1);
                        border-radius: 6px;
                        padding: 75px 35px 35px;
                        position: relative;
                        img {
                            position: absolute;
                            top: -30px;
                            left: 30px;
                            border-radius: 50%;
                        }
                        p {
                            color: $gray;
                            line-height: 28px;
                            margin-bottom: 35px;
                        }
                        .sliderSlideInfo {
                            h5 {
                                color: $black;
                                font-weight: 700;
                                font-family: $secondary;
                                margin-bottom: 10px;
                            }
                            pre {
                                color: $gray;
                                font-size: 14px;
                                font-family: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}
// ! Media
@import "media";
// ! KeyFrames
@keyframes animationText {
    from {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@keyframes animationCard {
    from {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
